body {
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    text-align: center;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border-radius: 5px;
    border: 1px solid white;
}

button {
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: blue;
}

#digimonInfo {
    margin-top: 20px;
    transition: opacity 0.3s ease;
}

.hidden {
    display: none;
}

.digimon-image {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.error {
    color: red;
    font-weight: bold;
}

.success {
    color: green;
    font-weight: bold;
}

